* {
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    
}

/*-----------------------------*/
/*----------   P 1   ----------*/
/*-----------------------------*/

.container #cont1{
    height: 515px; /*indicatif*/
    align-items: flex-end;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    flex-grow: 1;
    align-self: center;

    color: #fff;
}

#nav2{
    align-self: flex-end;
    width: 25%;
    background-color: #fff;
    color: #707070;
    font-family: 'Zona Pro', sans-serif;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

#nav1{
    align-self: flex-end;
    
}

#esp{
    color: #163174;
}


#p1{
    height: 600px; /*indicatif*/
    background-color: #5D96B5;
    color: #fff;
}

#espace{
    color: #163174;
}

header p{

    /*color: #fff;*/
    font-size: 15px;
    font-family: Helvetica;
    margin-top: 40px;
    margin-left: 3%;
}

header #logo{
    font-size: 40px;
    text-align: left;

}

#p1 button{
    background-color:#fff;
    border: 0;
    width: 200px;
    height: 80px;
}

/*-----------------------------*/
/*---------- PARTAGE ----------*/
/*-----------------------------*/

#partage{
    width: 80px;
    height: 80px;
    position: fixed;
    top: 46%;
    right: 0;
    background-color: #fff;
}
#partage #menuPartage{
    width: 80px;
    height: 80px;
    text-decoration: none;
    display: inline-block;
}
#partage ul{
    display: inline;
}
#partage ul li{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #fff;
}
#partage ul li p{
    width: 80px;
    height: 80px;
}
#partage ul li:hover ul{
    display: block;
}
#partage ul li ul{
    position: absolute;
    display: none;
}
#partage ul li ul li{
    width: 80px;
    height: 80px;
    background: #fff;
    display: block;
}
#partage ul li ul li:hover {
    background-color: #d0d0d0;
}
#partage ul li ul li #menuPartage{
    display: block !important;
}
